//- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug

//- This is how we insert dynamic content to extended templates 
block content
    h1.title Add a vehicle
    form(method="POST" action="/users/new")
        .field
            .label Maker
            .control
                input.input(type="text" placeholder="Maker" name="maker")
        .field
            .label Model
            .control    
                input.input(type="text" placeholder="Model" name="model")
        .field 
            .label Year
            .control   
                input.input(type="year" placeholder="Year" name="year")
        .field
            .label Plate Number
            .control
                input.input(type="text" placeholder="Plate Number" name="platenumber")
        .field
            .label State
            .control    
            <div class = "select">
                select(type = "select" name ="state")
                    <option value= "Brand New"> Brand New </option>
                    <option value = "Pre-Owned"> Pre-Owned </option>
                </select>
            </div>
              //-  input.input(type="text" placeholder="State" name= "state")
            input(type="submit" value="Submit")
        p
            a.button.is-submit(href="/index") 
                span Cancel
            br